**/target/
*/jsbuild/venv/
*/jsbuild/env/
*/src/main/webapp/build/
**/.project
**/.classpath
**/.settings
.idea/
.vscode/
*.iml
*~
.attach_pid*
.flattened-pom.xml
.mvn/wrapper/maven-wrapper.jar
.factorypath

# Only ignore intermediate PlantUML files, keep the SVGs in git
docs/structurizr/exports/

# MkDocs virtual environment
.venv/
site/
